/** my color palete*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
}

a {
  color: #14b1ab;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #14f098;
  text-decoration: none;
}

ul {
  list-style: none;
}

/******************************************
*preloader animation..
********************************************/
.load {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #000;
}

.load #preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.load #preloader hr {
  position: fixed;
  border: 0;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-animation: turn 2s ease infinite;
          animation: turn 2s ease infinite;
}

.load #preloader :first-child {
  background: blue;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

.load #preloader :nth-child(2) {
  background: red;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.load #preloader :nth-child(3) {
  background: green;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.load #preloader :nth-child(4) {
  background: orange;
}

@-webkit-keyframes turn {
  0%,
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(160%);
            transform: translate(160%);
  }
  50% {
    -webkit-transform: translate(160%, 160%);
            transform: translate(160%, 160%);
  }
  75% {
    -webkit-transform: translate(0, 160%);
            transform: translate(0, 160%);
  }
}

@keyframes turn {
  0%,
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(160%);
            transform: translate(160%);
  }
  50% {
    -webkit-transform: translate(160%, 160%);
            transform: translate(160%, 160%);
  }
  75% {
    -webkit-transform: translate(0, 160%);
            transform: translate(0, 160%);
  }
}

.load_title {
  position: fixed;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.load_title h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #ff4301;
}

.load_title h1 strong {
  color: #14b1ab;
}

.load_title p {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 13px;
  padding: 10px 30px;
  margin-bottom: 30px;
  border-radius: 50px;
}

@media only screen and (max-width: 546px) {
  .load h1 {
    margin-left: 1rem;
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 993px) {
  .mobile-nav-toggle i {
    position: fixed;
    top: 70px;
    right: 30px;
  }
}

/*******************************
*Top bar
*******************************/
#topbar {
  background: #0F2027;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ff4301;
  padding: 10px 0;
  font-size: 14px;
}

#topbar .contact-details a {
  line-height: 1;
  color: #ff4301;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#topbar .contact-details:hover {
  color: #ff1000;
}

#topbar .contact-details i {
  color: #14b1ab;
  padding-right: 5px;
}

#topbar .contact-details .icofont-phone {
  padding-left: 15px;
}

#topbar .social-links a {
  padding: 4px 0 4px 15px;
  display: inline-block;
  line-height: 1px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 14px;
}

#topbar .social-links a:nth-child(1) {
  border-left: 0;
  color: #1DA1F2;
}

#topbar .social-links a:nth-child(2) {
  color: #3b5998;
}

#topbar .social-links a:nth-child(3) {
  color: #3f729b;
}

#topbar .social-links a:nth-child(4) {
  color: #ea4c89;
}

#topbar .social-links a:nth-child(5) {
  color: #0e76a8;
}

/*******************************
*nav-bar
*******************************/
#header {
  height: 70px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 0;
  background-color: #000;
  z-index: 997;
  /*******************************
*navigation menu (desktop view)
*******************************/
}

#header .logo h1 a {
  font-size: 28px;
  margin: 0;
  padding: 5px 0;
  line-height: 1;
  color: #ff4301;
  text-transform: uppercase;
}

#header .logo h1 a strong {
  color: #14b1ab;
  font-weight: bold;
}

#header .nav-menu,
#header .nav-menu * {
  margin: 0;
  padding: 0;
}

#header .nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

#header .nav-menu .active a {
  color: #14b1ab;
}

#header .nav-menu li:hover a {
  color: #ff4301;
}

#header .nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  padding: 14px 0 12px 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

#header .nav-menu a:hover {
  color: #ff4301;
}

#header .nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0px;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  z-index: 99;
  background-color: #4a3f35;
  -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
          box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  border-radius: 10px;
}

#header .nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #fff;
}

#header .nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

#header .nav-menu .drop-down:hover > ul {
  visibility: visible;
  opacity: 0.95;
}

#header .nav-menu .drop-down:hover > ul li:hover a {
  color: #ff4301;
}

#header .nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

/*******************************
*navigation menu (mobile view)
*******************************/
.mobile-nav-toggle {
  position: fixed;
  top: 22px;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 70px;
  right: 0px;
  bottom: 15px;
  left: 0px;
  z-index: 9999;
  overflow-y: auto;
  background: #4a3f35;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  padding: 10px 0;
  border-radius: 10px;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
}

.mobile-nav a {
  position: relative;
  display: block;
  color: #fff;
  padding: 10px 20px;
  font-weight: 600;
  font-style: normal;
  outline: none;
}

.mobile-nav a:hover {
  color: #ff4301;
}

.mobile-nav .active > a {
  color: #84a9ac;
}

.mobile-nav li:hover a {
  color: #ff4301;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
  font-size: 20px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav .active .drop-down ul li a {
  color: #fff;
}

.mobile-nav .active .drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .active .drop-down > a {
  padding-right: 35px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(28, 28, 28, 0.6);
  overflow: hidden;
  display: none;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 0.95;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}
