/******************************************
*preloader animation..
********************************************/

.load {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: $background-color;

    #preloader {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;

        hr {
            position: fixed;
            border: 0;
            margin: 0;

            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: turn 2s ease infinite;
        }

        & :first-child {
            background: #1acc8d;
            animation-delay: -1.5s;
        }

        & :nth-child(2) {
            background: red;
            animation-delay: -1s;
        }

        & :nth-child(3) {
            background: #1acc1a;
            animation-delay: -0.5s;
        }

        & :nth-child(4) {
            background: orange;
        }

        @keyframes turn {

            0%,
            100% {
                transform: translate(0)
            }

            25% {
                transform: translate(160%)
            }

            50% {
                transform: translate(160%, 160%)
            }

            75% {
                transform: translate(0, 160%)
            }
        }


    }

    &_title {
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;


        h1 {
            font-size: 3rem;
            text-transform: uppercase;
            margin-bottom: 2rem;
            color: $heading-color;

            strong {
                color: $link-color;
            }

        }


        p {
            background: rgba(255, 255, 255, 0.1);
            color: #fff;
            font-size: 13px;
            padding: 10px 30px;
            margin-bottom: 30px;
            border-radius: 50px;
        }
    }
}